[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "5.15.5"
# QtWebEngine lays in a different dependency
PyQtWebEngine =	"5.15.5"
requests = "==2.26.0"
flask = "2.0.2"

[dev-packages]
pyinstaller = "4.8"

[requires]
python_version = "3.9"
