[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "5.15.5"
qtmodern = "0.2.0"
requests = "2.26.0"
XlsxWriter = "3.0.2"

[dev-packages]

[requires]
python_version = "3.7"
